@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*================= RESET ==================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*================= ROOT ==================*/
:root{
    --titulos: #333;
    --text:  #424242;
    --body: #e3e6f3;
    --fondo: #dedede;
}

  /* Global Styles */
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

h1 {
font-size: 50px;
line-height: 64px;
color: #222;
}

h2 {
font-size: 46px;
line-height: 54px;
color: #222;
}

h4 {
font-size: 20px;
color: #222;
}

h6 {
font-weight: 700;
font-size: 12px;
}

p {
font-size: 16px;
color: #7b9187;
margin: 15px 0 20px 0;
}

.section-p1 {
padding: 40px 80px;
}

.section-m1 {
margin: 40px 0;
}

body {
width: 100%;
}


/* =============== NAVBAR ================*/
header {
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

header h4 {
    color: var(--text-color);
    font-size: 40px;
    padding: 10px 20px;
    margin: 0;
}


.navbar-menu a,
.navbar a {
    color: var(--text);
    font-weight: 600 ;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    transition:  0.3s ease;
}

.mostrar-menu{
    order: 1;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;

}

#check{
    display: none;
}

.esconder-menu i:hover,
.mostrar-menu i:hover{
    color: cadetblue;
}
.navbar-menu a:hover,
.navbar a:hover {
    transform: scale(1.1);
    color: cadetblue;
    transition: 0.2s ease;
    border-bottom: 1px solid #088178;
}

.navbar-menu a.active{
    color: #088178;
    border-bottom: 1px solid #088178;
}


/* =============== HOME ================*/
#home{
    background-image: url('../img/futbol1.2.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#home h4{
    padding-bottom: 15px;
}

#home h1{
    color: #088178;
}

#home button{
    background-image: url('../img/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


.text{
    margin-top: 10px;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* =============== Hero ================*/
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#product1{
    text-align: center;
}

#product1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    padding-top: 10px;
    width:80%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(241,181,25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500px;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}



/* =============== FOOTER ================*/
footer{
    background-color: #d4d4d4 ;
    margin-top: 100px;
    color: var(--titulos);
    display: grid;
    grid-template-columns: repeat(5,2fr);

}
.footer-text{
    padding-left: 15px;
}

.footer-text h3{
    margin: 50px;
    width: 30px;
    max-width: 100px;
    margin-bottom: 10px;
    border-bottom: 2px solid  #424242;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer-text a{
    margin:  0 0 10px 50px;
    color: var(--text);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.links i{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    padding: 7px;
    margin: 10px 5px;
    box-shadow: 1px 1px 40px -6px #000;
    transition: all .5s;
}

.links i:hover{
    background-color: cadetblue;
    transform: scale(1.04);
}


/* Estilos para Catalogo */
#page-header{
    background-image: url('../img/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-header h2{
    color: white;
}


/* Estilos para quienes somos */
.content-somos{
    margin-top: 50px;
    text-align: center;
}

.content-somos h1{
    margin: 10px;
}

.content-somos p{
    margin: 30px 10px;
}

.valores {
    max-width: 800px;
    margin: 0 auto;
}

.valores ul {
    list-style-type: none;
    padding: 0;
}

.valores ul li {
    text-align: center;
}

.valores ul li a {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

/*  Detalles del producto */
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#MainImg {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
  }

  .smalli-img-group {
    margin-top: 10px;
    display: flex;
  }

  .small-img-col {
    flex: 1;
    margin-right: 10px;
    gap:2px;
  }

  .small-img-col img {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }


.small-img-col img:hover {
    border: 1px solid #333;
    opacity: 0.7;
  }


#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}


#prodetails .single-pro-details span{
    line-height: 25px;
}

.normal{
    background: #088178;
    cursor: pointer;
    color: white;
    padding: 18px ;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
}

.normal:hover{
    transform: scale(0.9);
    background-color: #11e48c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Carrito  De Compras */
#about-header{
    background-image: url('../img/banner.png');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#about-header h2{
    color: white;
}

#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowgrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody tr{
    font-size: 13px ;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 30px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


/* ============== RESPONSIVE================= */
@media (max-width: 768px){
    body{
        width: 100%;
    }
    .section-p1{
        padding: 20px 40px;
    }
    .mostrar-menu,
    .esconder-menu{
        color: white;
        display: block;
    }
    .navbar-menu{
        position: fixed;
        width: 100%;
        height: 70vh;
        background: var(--fondo);
        right: -100%;
        top: 5%;
        text-align: center;
        padding: 100px 50px;
        z-index: 100;
        transition: 0.8s;
    }


    .navbar-menu a{
        display: block;
        padding: 20px ;
    }

    .navbar-menu a:hover,
    .navbar a:hover {
        color: cadetblue;
        border: none;
        margin: 0;
    }
    .esconder-menu{
        color: white;
        position: absolute;
        top: 10px;
        right: 50px;
    }
    #check:checked ~ .navbar-menu{
        right: 0;
    }
    .navbar {
        max-height: 180px;
        padding: 5px;
        overflow-y: auto;
        margin: 20px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar a {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .navbar a:last-child {
        margin-bottom: 0;
    }

    .home h4,
    .home h2{
        color: white;
    }


    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        align-items: center;
    }
    .product-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-somos,
    .valores{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     h1, h2{
        font-size: 30px;
    }

    p{
        margin: 10px;
    }

    .valores ul  li a{
        width: 100%;
        margin: 5px 0;
        background-color: transparent;
    }

    #prodetails{
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }

    .apple h4{
        font-size: 25px;
        font-weight: bold;
    }

    footer{
        grid-template-columns: 100%;
    }

    .footer-text{
        padding: 1rem 0;
    }

    .footer-text .links{
        text-align: center;
        align-items: center;
    }

    .footer-text h3{
        text-align: center;
    }

    /* Cart page */
    #cart-add{
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 500px){
    .mostrar-menu{
        color: white;
        margin-right: 30px;
    }

    .navbar {
        max-height: 180px;
        padding: 5px;
        overflow-y: auto;
        margin: 20px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar a {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .navbar a:last-child {
        margin-bottom: 0;
    }

    header{
        padding: 10px;

    }
    .product-container {
        width: 100%;
    }

    .footer-text{
        margin: 15px;
        text-align: center;
    }

    .footer-text a{
        margin: 0;
    }

    #prodetails{
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }
}
