@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*================= RESET ==================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*================= ROOT ==================*/
:root{
    --titulos: #333;
    --text:  #424242;
    --body: #dddddd;
    --fondo: #e8e5e5;
}

body{
    background-color: var(--body) ;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
}


/* =============== NAVBAR ================*/
header {
    height: 110px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 150px;
    height: 100px;
    font-size: 40px;
    padding: 10px 20px;
    margin-top: 20px;
}

.navbar-menu a {
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 15px;
    transition: 0.2s ease-in-out;
}

.mostrar-menu{
    order: 1;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

#check{
    display: none;
}

.esconder-menu i:hover,
.mostrar-menu i:hover{
    color: cadetblue;
}
.navbar-menu a:hover {
    transform: scale(1.1);
    color: cadetblue;
    border-bottom: 2px solid green;
}

/* =============== HOME ================*/
.home img{
    width: 100%;
    height: 40vh;
    margin: 0;
}


/* =============== MENU ================*/
.text-menu{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-menu h5{
    color: var(--titulos);
    font-size: 30px;
}
.text-menu p{
    color: var(--text);
    margin: 0 50px ;
}

.menu .zap1,
.menu .zap2,
.menu .zap3{
    width:300px;
    height: 300px;
    background-color: var(--fondo);
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.menu .zap1:hover,
.menu .zap2:hover,
.menu .zap3:hover{
  transform: scale(1.04);
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.menu i{
    background-color: var(--text-color);
    padding: 7px;
    color: white;
    font-size: 20px;
    align-self: end;
}

.menu img{
    width: 80%;

}
.menu h5{
    font-size: 30px;
}


/* =============== FOOTER ================*/
footer{
    background-color: #d4d4d4 ;
    margin-top: 100px;
    color: var(--titulos);
    display: grid;
    grid-template-columns: repeat(5,2fr);

}
.footer-text{
    padding-left: 15px;
}

.footer-text h3{
    margin: 50px;
    width: 30px;
    max-width: 100px;
    margin-bottom: 10px;
    border-bottom: 2px solid  #424242;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer-text a{
    margin:  0 0 10px 50px;
    color: var(--text);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.links i{
    cursor: pointer;
    color: white;
    background-color: cadetblue;
    border-radius: 50%;
    padding: 7px;
    margin: 10px 5px;
}
/* Estilos para Catalogo */ 



/* Estilos para quienes somos */ 
.content-somos{
    margin-top: 50px;
    text-align: center;
}

.content-somos h1{
    margin: 10px;
}

.content-somos p{
    margin: 30px 10px;
}

.valores{
    width: 100%;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.valores ul li{ 
    list-style: none;
    display: flex;
    justify-content: center;
}

.valores ul li a{ 
    padding: 15px;
}

.somos-f{
    height: 43vh;
}


/* ============== RESPONSIVE================= */
@media (max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .navbar-menu{
        position: fixed;
        width: 100%;
        height: 80vh;
        background: #adadad;
        right: -100%;
        top: 7%;
        text-align: center;
        padding: 100px 150px;
        z-index: 100;
        transition: 0.8s;
    }

    .navbar-menu a{
        display: block;
        padding: 20px ;
    }

    .navbar-menu a:hover {
        color: cadetblue;
        border: 1px solid green;
        margin: 0;
    }

    .esconder-menu{
        position: absolute;
        top: 10px;
        right: 50px;
    }
    #check:checked ~ .navbar-menu{
        right: 0;
    }

    .home,
    .menu{
        display: grid;
        flex-direction: column;
        text-align: center;
    }

    .order-1{
        order: 1;
    }

    footer{
        grid-template-columns: 100%;
    }

    .footer-text{
        padding: 1rem 0;
    }

    .footer-text .links{
        text-align: center;
        align-items: center;
    }

    .footer-text h3{
        text-align: center;
    }
}

@media (max-width: 390px){
    img{
        max-width: 300px;
    }
    body{
        margin: 20px;
    }

    .content{
        gap: 50px;
    }
    header{
        padding: 10px;
    }

    header .logo{
        padding:  0;
        font-size: 30px;
    }

    .content button{
        background-color: var(--text-color);
        padding: 5px;
        font-size: 15px;
        border: none;
        color: white;
        font-weight: bold;
        transition: 0.2s ease-in-out;
        margin-top: 25px ;
    }

    .menu .zap1,
    .menu .zap2,
    .menu .zap3{
        width:250px;
        height: 318px;
        background-color: var(--fondo);
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
